name: Validate

on:
  pull_request:

jobs:
  CodeStyle:
    runs-on: ubuntu-22.04
    steps:
      - name: Clone
        uses: actions/checkout@v3

      - name: Create .env
        run: cp ./.env.example ./.env

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          architecture: x64
          flutter-version: '3.13.8'
          channel: 'stable'
          cache: true

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
          cache: 'gradle'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'
          bundler-cache: true
          working-directory: 'android'

      - name: Install Project Dependencies
        run: flutter pub get

      - name: Flutter Doctor
        run: flutter doctor

      - name: Check dart format
        run: dart format .
      
      - name: Check Dart 
        run: dart analyze .
        
  Windows:
    runs-on: windows-2022
    steps:
      - name: Clone
        uses: actions/checkout@v3

      - name: Create .env
        run: Copy-Item ".\.env.example" -Destination ".\.env"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install Project Dependencies
        run: flutter pub get

      - name: Flutter Doctor
        run: flutter doctor

      - name: Run unit tests
        run: flutter test

      - name: Binary
        run: flutter build windows

  Linux:
    runs-on: ubuntu-22.04
    steps:
      - name: Clone
        uses: actions/checkout@v3

      - name: Create .env
        run: cp ./.env.example ./.env

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          architecture: x64
          flutter-version: '3.13.8'
          channel: 'stable'
          cache: true

      - name: Install Project Dependencies
        run: flutter pub get

      - name: Install Linux Dependencies
        run: sudo apt-get update -y && sudo apt-get install -y ninja-build libgtk-3-dev

      - name: Flutter Doctor
        run: flutter doctor

      - name: Run unit tests
        run: flutter test

      - name: Binary
        run: flutter build linux --release

      - name: LDD
        run: ldd build/linux/x64/release/bundle/myWitWallet

  MacOs:
    runs-on: macos-latest
    steps:
      - name: Clone
        uses: actions/checkout@v3

      - name: Create .env
        run: cp ./.env.example ./.env

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          architecture: x64
          flutter-version: '3.13.8'
          channel: 'stable'
          cache: true

      - name: Install Project Dependencies
        run: flutter pub get

      - name: Flutter Doctor
        run: flutter doctor

      - name: Run unit tests
        run: flutter test

      - name: Binary
        run: flutter build macos --debug

  Android:
    runs-on: ubuntu-22.04
    steps:
      - name: Clone
        uses: actions/checkout@v3

      - name: Create .env
        run: cp ./.env.example ./.env

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          architecture: x64
          flutter-version: '3.13.8'
          channel: 'stable'
          cache: true

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
          cache: 'gradle'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'
          bundler-cache: true
          working-directory: 'android'

      - name: Install Project Dependencies
        run: flutter pub get

      - name: Flutter Doctor
        run: flutter doctor

      - name: Run unit tests
        run: flutter test

      - name: Binary
        run: flutter build appbundle --debug

      - name: Run Tests
        uses: maierj/fastlane-action@v3.0.0
        with:
          lane: 'test'
          subdirectory: 'android'

  IOS:
    runs-on: macos-latest
    steps:
      - name: Clone
        uses: actions/checkout@v3

      - name: Create .env
        run: cp ./.env.example ./.env

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          architecture: x64
          flutter-version: '3.13.8'
          channel: 'stable'
          cache: true

      - name: Install Project Dependencies
        run: flutter pub get

      - name: Flutter Doctor
        run: flutter doctor
      
      - name: Run unit tests
        run: flutter test

      - name: Binary
        run: flutter build ios --release --no-codesign