name: Validate

on:
  pull_request:

jobs:
  CodeStyle:
    runs-on: ubuntu-22.04
    steps:
      - name: Clone
        uses: actions/checkout@v4

      - name: Create .env
        run: cp ./.env.example ./.env

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          architecture: x64
          flutter-version: '3.22.3'
          channel: 'stable'
          cache: true

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '11'
          cache: 'gradle'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'
          bundler-cache: true
          working-directory: 'android'

      - name: Install Project Dependencies
        run: flutter pub get

      - name: Flutter Doctor
        run: flutter doctor

      - name: Check dart format
        run: dart format .
      
      - name: Check Dart 
        run: dart analyze .
        
  Windows:
    runs-on: windows-2022
    steps:
      - name: Clone
        uses: actions/checkout@v4

      - name: Create .env
        run: Copy-Item ".\.env.example" -Destination ".\.env"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install Project Dependencies
        run: flutter pub get

      - name: Flutter Doctor
        run: flutter doctor

      - name: Run unit tests
        run: flutter test

      - name: Binary
        run: flutter build windows

  Linux:
    runs-on: ubuntu-22.04
    steps:
      - name: Clone
        uses: actions/checkout@v4

      - name: Create .env
        run: | 
          cp ./.env.example ./.env
          echo "DELAY=100" >> .env
          echo "INIT_E2E_DELAY_IN_SECONDS=10" >> .env
          echo "DELETE_TEST_STORAGE=true" >> .env

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          architecture: x64
          flutter-version: '3.24.3'
          channel: 'stable'
          cache: true

      - name: Install Project Dependencies
        run: flutter pub get

      - name: Install Linux Dependencies
        run: sudo apt-get update -y && sudo apt-get install -y ninja-build libgtk-3-dev

      - name: Flutter Doctor
        run: flutter doctor

      # - name: Run unit tests
      #   run: flutter test
      - name: Run E2E tests
        run: xvfb-run --auto-servernum flutter test integration_test/main.dart -d linux -r github

      - name: Upload images as artifacts 
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots 
          path: screenshots/*.png


      - name: Binary
        run: flutter build linux --release

      - name: LDD
        run: ldd build/linux/x64/release/bundle/myWitWallet

  MacOs:
    runs-on: macos-latest
    steps:
      - name: Clone
        uses: actions/checkout@v4

      - name: Create .env
        run: cp ./.env.example ./.env

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          architecture: x64
          flutter-version: '3.24.3'
          channel: 'stable'
          cache: true

      - name: Install Project Dependencies
        run: flutter pub get

      - name: Flutter Doctor
        run: flutter doctor

      - name: Run unit tests
        run: flutter test

      - name: Binary
        run: flutter build macos --debug

  Android:
    runs-on: ubuntu-22.04
    steps:
      - name: Clone
        uses: actions/checkout@v4

      - name: Create .env
        run: cp ./.env.example ./.env

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          architecture: x64
          flutter-version: '3.24.3'
          channel: 'stable'
          cache: true

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '11'
          cache: 'gradle'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'
          bundler-cache: true
          working-directory: 'android'

      - name: Install Project Dependencies
        run: flutter pub get

      - name: Flutter Doctor
        run: flutter doctor

      - name: Run unit tests
        run: flutter test

      - name: Binary
        run: flutter build appbundle --debug

      - name: Run Tests
        uses: maierj/fastlane-action@v3.1.0
        with:
          lane: 'test'
          subdirectory: 'android'

  IOS:
    runs-on: macos-latest
    steps:
      - name: Clone
        uses: actions/checkout@v4

      - name: Create .env
        run: cp ./.env.example ./.env

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          architecture: x64
          flutter-version: '3.24.3'
          channel: 'stable'
          cache: true

      - name: Install Project Dependencies
        run: flutter pub get

      - name: Flutter Doctor
        run: flutter doctor
      
      - name: Run unit tests
        run: flutter test

      - name: Binary
        run: flutter build ios --release --no-codesign